<div class="row">
    <h1>Schedules</h1>
    <br />
    <p style="color:white;font-size:large;font-family:Carlito;">There is Schedules for everyone:</p>
    <br />
    <br />
    <div class="col-lg-6">
        <div class="col-md-4 showBlock" data-aos="fade-right">
            <p class="textBlock">Nasr City, Men</p>
            <div class="overlay">
                <p id="slide" class="textBlock">25 Seats</p>
            </div>
        </div>
        <div class="col-md-4 showBlock" data-aos="fade-left">
            <p class="textBlock">Nasr City, Women</p>
            <div class="overlay">
                <p id="slide" class="textBlock">53 Seats</p>
            </div>
        </div>
        <div class="col-md-4 showBlock" data-aos="fade-right">
            <p class="textBlock">Giza, Men</p>
            <div class="overlay">
                <p id="slide" class="textBlock">18 Seats</p>
            </div>
        </div>
        <div class="col-md-4 showBlock" data-aos="fade-left">
            <p class="textBlock">Giza, Women</p>
            <div class="overlay">
                <p id="slide" class="textBlock">9 Seats</p>
            </div>
        </div>
    </div>
</div>

<script>
    AOS.init();
</script>
