<div class="row">
    <h1>About Normal Gym</h1>
    <br />
    <p style="color:white;font-size:large;font-family:Carlito;">We’re not just a gym with the latest equipment, we also provide you with various classes that will help you achieve your fitness goals.</p>
    <br />
    <br />
    <div class="col-lg-6">
        <div class="col-md-4 aboutBlock" data-aos="fade-up">
            <h4 style="text-align:center;">Family Fun</h4>
            <p class="textBlock">We have something for your family to do when you’re at our branches.</p>
        </div>

        <div class="col-md-4 aboutBlock" data-aos="fade-up">
            <h4 style="text-align:center;">Body Transformation</h4>
            <p class="textBlock">Helping you achieve your weight loss and muscle goals.</p>
        </div>

        <div class="col-md-4 aboutBlock" data-aos="fade-down">
            <h4 style="text-align:center;">Flexible Memberships</h4>
            <p class="textBlock">Offering you various packages that suit you best.</p>
        </div>

        <div class="col-md-4 aboutBlock" data-aos="fade-down">
            <h4 style="text-align:center;">True Expertise</h4>
            <p class="textBlock">Our trainers are highly qualified and know what they’re doing.</p>
        </div>
    </div>
</div>

<script>
    AOS.init();
</script>
