<div class="row">
    <h1>Contact Us</h1>
    <br />
    <div class="aboutBlock col-lg-6">
        <h4 style="text-align:center;">Telephones</h4>
        <p class="textBlock"><span class="glyphicon glyphicon-phone"></span>  +011011010010 &emsp;
        <span class="glyphicon glyphicon-phone"></span>  +011011010010 &emsp;
        <span class="glyphicon glyphicon-phone"></span>  +011011010010</p>
    </div>
    <br />
    <br />
    <br />
    <div class="aboutBlock col-lg-6">
        <h4 style="text-align:center;">Website</h4>
        <p class="textBlock"><span class="glyphicon glyphicon-globe"></span>&ensp;NormalGym.com</p>
    </div>
    <br />
    <br />
    <br />
    <div class="aboutBlock col-lg-6">
        <h4 style="text-align:center;">Location</h4>
        <p class="textBlock"><span class="glyphicon glyphicon-home"></span>&ensp;Nasr City, Giza</p>
    </div>
</div>


